body {
  background: linear-gradient(
    109.6deg,
    rgb(154, 227, 226) 11.2%,
    rgb(105, 210, 216) 91.1%
  );
  width: 1200px;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 20px;
  font-size: 50px;
}
p {
  text-align: center;
  margin: 40px auto;
  text-shadow: 2px;
}
img {
  display: block;
  margin: 30px 0;
  max-width: 100%;
}
